@import 'src/scss/variables';

.profile-info {
    align-items: center;
    color: $primary-link;
    display: flex;
    justify-content: flex-start;
    padding: 7px 20px;
    text-decoration: none;

    .avatar {
        border-radius: 50%;
        height: 40px;
        margin-right: 10px;
        overflow: hidden;
        width: 40px;
    }

    &__name {
        font-size: 18px;
    }
}
