@import 'src/scss/responsive';

.card-image {
    height: 100px;
    overflow: hidden;

    @include responsive-to(tablet) {
        height: 200px;
    }

    &__img {
        height: auto;
        transform: translateY(-40%);
        width: 100%;
    }
}
