@import 'src/scss/responsive';
@import 'src/scss/variables';

.header {
    align-items: center;
    background-color: $primary;
    box-shadow: 0 0 $diffuse-box-shadow;
    display: flex;
    height: 32px;
    justify-content: space-between;
    padding: 7px 10px;
    position: fixed;
    width: 100%;

    @include responsive-to(tablet) {
        height: 54px;
        padding: 15px 20px;
        position: relative;
    }

    &__main {
        color: $primary-text;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;

        @include responsive-to(tablet) {
            font-size: 20px;
        }
    }

    &__menu {
        display: block;

        @include responsive-to(tablet) {
            display: none;
        }
    }
}
