<section class="header">
    <fc-button
        class="header__menu"
        ng-click="header.toggleMenu()"
        icon-name="menu"
        type="flat"></fc-button>
    <a class="header__main" href="/">
        {{ header.pageTitle }}
    </a>
    <div ng-if="header.isUserLoggedIn()" class="header__actions">
        <fc-button
            on-click="props.onClick()"
            icon-name="{{ props.iconName }}"
            ng-repeat="props in header.actionList"
            type="flat"></fc-button>
    </div>
</section>
