$default-background:       #e1e2e1;
$default-background-dark:  darken($default-background, 5%);
$default-background-light: #fafafa;
$primary:                  #2e7d32;
$primary-dark:             #005005;
$primary-light:            #60ad5e;
$primary-link:             #1b5e20;
$primary-text:             #ffffff;
$secondary:                #263238;
$secondary-dark:           #000a12;
$secondary-light:          #4f5b62;
$secondary-text:           #ffffff;

$neutral-gray:             #757575;
$neutral-light-gray:       #999999;

$diffuse-box-shadow:       20px 0 rgba(0, 0, 0, 0.5);
$light-box-shadow:         4px 0 rgba(0, 0, 0, 0.1);

$transition-time-type:     0.5s ease-in-out;
