$default-background: #e1e2e1;
$primary:            #2e7d32;
$primary-light:      #60ad5e;
$primary-dark:       #005005;
$primary-text:       #ffffff;

$diffuse-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
